* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main { /* bura headeri ve footeri elave etmek lazimdir? deqiq bilmirem, lazim olsa elave edersiz) */
  width: 100%;
  font-family: "Roboto";
}


h2 {
  font-family: Roboto Slab;
  font-size: 55px;
  font-weight: 700;
  line-height: 55.76px;
  /* yenede baxin ne elave etmek lazim olsa edin */
}