* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper { /* bura headeri ve footeri elave etmek lazimdir? deqiq bilmirem, lazim olsa elave edersiz) */
  width: 100%;
  font-family: "Roboto";
}
.main-box {
  width: 90%;
  margin: 0 auto;
}

h2 {
  font-family: Roboto Slab;
  font-size: 55px;
  font-weight: 700;
  line-height: 55.76px;
  /* yenede baxin ne elave etmek lazim olsa edin */
}

.course-format {
  display: flex;
  font-size: 18px;
  gap: 100px;
  margin: 100px auto 170px;
}

.course-format div {
  width: 270px;
}

.heading {
  color: #1E4681;
  font-size: 25px;
  font-weight: 700;
}

.what-to-learn {
  width: 662px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.course-program {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5vw; /*37px*/
  margin-top: 130px;
  margin-bottom: 100px;
}

.course-program div {
  width: 27.7vw; /*399px */
  height: 22.7vw; /*328px */
  border-radius: 30px; 
  box-shadow: 1px 1px 15px 0px #00000040;
}

.course-program img {
  width: 27.7vw; /*399px */
  height: 11.1vw; /*160px */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card-heading {
  font-size: 2vw; /*30px*/
  margin-bottom: 30px;
  padding: 10px 15px 0px;
}

.course-program p {
  font-size: 1.7vw;/*25px*/
  padding: 10px 15px 0px;

}

.line {
 line-height: 29.1px;
}

#line {
  padding: 5px 15px;
}